.profile {
    padding: 50px;
    padding-right: 0;
    padding-top: 0%;
    padding-left: 20px;
    display:  block;
}

.profileNav {
    display: inline;
 
    height: 100%;
    width: 25%;
    position: sticky;
    left: 0;
    top: 0;
 
    /* padding-top: 40px; */
}

.profileAvatarBorder {
    padding-bottom: 10px;
    position: relative;
    text-align: center;
}

.profilePicture {
    border-radius: 500px;
    transition: .5s;
}

.addProfilePicture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#imageUploader {
    visibility: hidden;
}

.profileUsername {
    margin-top: 0%;
    margin-right: 10px;
    font-size: 3.5vw;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
}

.profileMainView {
    /* display: inline-block; */

    width: 100%;
    min-height: 80vh;
    margin: 0;
    padding: 0;
    display: inline;  
    background-color:rgb(234, 239, 244);
    padding-left: 15px;  
    margin-left: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
}

/* .profileMainViewTitle {
    background-color: blueviolet;
} */

.profileMainViewSection {
    margin-top: 50px;
}

.emptySection {
    align-items: flex-start;
}

#libraryNav {
    color: black;
    font-size: 25px;
    padding-bottom: 5px;
}

#libraryNav:hover {
    cursor: pointer;
}

#wishlistNav {
    color: gray;
    font-size: 25px;
}

#wishlistNav:hover {
    cursor: pointer;
}