.profile {
    padding: 50px;
    padding-right: 0;
    padding-top: 0%;
    display:  block;
}

.profileNav {
    display: inline;
 
    height: 100%;
    width: 150px;
    position: sticky;
    left: 0;
    top: 0;
    /* padding-top: 40px; */
}

.profileUsername {
    margin-top: 0%;
    margin-right: 50px;
}

.profileMainView {
    /* display: inline-block; */

    width: 500;
    margin: 0;
    padding: 0;
    display: inline;  
    background-color:rgb(234, 239, 244);
    padding-left: 30px;  
    padding-right: 30px;
    padding-bottom: 50px;
}

/* .profileMainViewTitle {
    background-color: blueviolet;
} */

.profileMainViewSection {
    margin-top: 50px;
}

#libraryNav {
    color: black;
}

#libraryNav:hover {
    cursor: pointer;
}

#wishlistNav {
    color: gray;
}

#wishlistNav:hover {
    cursor: pointer;
}