.popupBackground {
    background: rgb(67, 63, 63);
    opacity: .3;
    pointer-events: none;
}

.popupForeground {
    /* Slightly off center for visual appeal ? */
    top: 48%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    /* min-height: 510px; */
    position: fixed;
    display: block;
    text-align: center;
    background-color: beige;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popupHidden {
    visibility: hidden;
}

.editionsContainer {
    text-align: center;
}

.editionsListItem {
    padding-left: 10px;
    min-height: 400px;
}

.editionContent {
    background-color:rgb(232, 229, 229);
    border-radius: 50px;
    /* z-index: 0; */
}

/* .editionCover {
    background-color: rgb(0, 255, 255);
} */

.coverContainer {
    min-height: 258px;
    position: relative;
    text-align: center;
    color: black;
    z-index: 0;
}

.noCoverText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}