.mapsTitle {
    margin: 15px;
}

.noLocationData {
    margin: 0;
    padding: 10px;
    /* padding-top: 0%; */
}

.address {
    cursor: pointer;
    background-color: rgb(232, 232, 232);
    margin: auto;
    /* font-size: 80%; */
    /* width: 90%; */
    /* max-width: 30%; */
}

.addressTitle {
    margin-top: 0%;
}

.closeMapButton {
    font-size: 30px;
    padding: 15px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 10px;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    margin: 0;
    border-radius: 5px;
}

.closeMapButton:hover {
    cursor: pointer;
    transition: 0.9s;
    background-color: #00000015;
}

.map {
    margin-bottom: 20px;
}

.addressItem {
    text-align: left;
    display: inline-block;
    min-width: 30%;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.addressListGrid {
    height: 25%;
    text-align: center;
    overflow: scroll;
    padding-right: 10px;
    padding-left: 10px;
    /* margin: auto; */
    /* padding-top: -10px; */
}

.none {
    padding-left: 45px;
    overflow: hidden;
}